<!-- Button trigger modal -->
<button type="button" class="btn btn-secondary float-end m-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Show Tipos de Tarefas
  </button>

<!-- Button Add modal -->
<button type="button" class="btn btn-primary float-end m-2" data-bs-toggle="modal" data-bs-target="#exampleModalNova"
  (click)="modalAdd()">
  Nova Tarefa
</button>

<div class="alert alert-success" role="alert" id="add-success-alert">
  Tarefa adicionada com sucesso!
</div>

<div class="alert alert-success" role="alert" id="update-success-alert">
  Tarefa atualizada com sucesso!
</div>

<div class="alert alert-success" role="alert" id="delete-success-alert">
  Tarefa excluída com sucesso!
</div>

<table class="table table-striped">
    <thead>
        <th>Id</th>
        <th>Tipo de tarefa</th>
        <th>Status</th>
        <th>Comentário</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of tarefeiroList$|async">
            <td>{{item.id}}</td>
            <td>{{tarefeiroTiposMap.get(item.tarefaTipoId)}}</td>
            <!-- <td>{{item.tarefaTipoId}}</td> -->
            <td>{{item.status}}</td>
            <td>{{item.comentario}}</td>
        </tr>
    </tbody>
</table>


  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Tipos de Tarefas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p *ngFor="let tipo of tarefeiroTiposList$|async">{{tipo.id}} - {{tipo.tarefaNome}}</p>
        </div>
      </div>
    </div>
  </div>




<!-- Add or Update(edit) Modal Tarefa -->
<div class="modal fade" id="exampleModalNova" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
        (click)="modalClose()" id="add-edit-modal-close"></button>
      </div>
      <div class="modal-body">
        <app-add-edit-tarefeiro [tarefa]="tarefeiro" *ngIf="activateAddEditTarefeiroComponent"></app-add-edit-tarefeiro>
      </div>
    </div>
  </div>
</div>